@tailwind components;

@layer components {
	.destination-wrapper {
		display: grid;
	}

	@media only screen and (min-width: 992px) {
		.destination-wrapper {
			grid-template-columns: 1fr 1fr;
			-ms-grid-columns: 1fr 1fr;
			align-items: flex-end;
			justify-content: space-between;
			column-gap: 10%;
			grid-column-gap: 10%;
		}
	}
}
