@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@layer base {
	:root {
		/* DESIGN SYSTEM */

		/* COLORS */

		--primary-color: 10 12 23;
		--secondary-color: 208 214 249;
		--white-color: 255 255 255;

		/* TYPOGRAPHY */

		--lg-lh: 150%;
		--sm-lh: 120%;
		--type-scale-1: 0.85;
		--type-scale-2: 0.6;
		--h5-type-scale: 0.55;
		--h3-type-scale: 0.44;
		--h2-type-scale: 0.56;
		--h1-type-scale: 0.54;
		--sm-text: calc(0.875rem * var(--type-scale-1));
		--md-text: calc(1rem * var(--type-scale-1));
		--base-text: calc(1.125rem * var(--type-scale-1));
		--h5: calc(1.75rem * var(--h5-type-scale));
		--h4: calc(2rem * var(--h5-type-scale));
		--h3: calc(3.5rem * var(--h3-type-scale));
		--h2: calc(6.25rem * var(--h2-type-scale));
		--h1: calc(9.375rem * var(--h1-type-scale));

		/* END OF DESIGN SYSTEM */
	}

	.App {
		min-height: 100vh;
	}

	source {
		object-fit: cover;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.home-bg source {
		height: 100vh;
		width: auto;
		display: inline;
	}

	main {
		min-height: calc(100vh - 104px);
	}

	@media only screen and (min-width: 650px) {
		:root {
			--type-scale: 0.9;
			--h5-type-scale: 0.75;
			--h3-type-scale: 0.72;
			--h2-type-scale: 0.8;
			--h1-type-scale: 1;
		}
	}

	@media only screen and (min-width: 992px) {
		:root {
			--type-scale: 1;
			--h5-type-scale: 1;
			--h3-type-scale: 1;
			--h2-type-scale: 1;
		}
	}
}

@layer components {
	body {
		background-color: theme('colors.primary');
		min-height: 100vh;
	}

	.container {
		margin: 0 auto;
		padding: 0 1rem;
	}

	.App picture {
		z-index: -1;
	}
}
