@tailwind components;

@layer components {
	main.container {
		max-width: 100%;
	}

	@media only screen and (min-width: 992px) {
		main.container {
			max-width: 992px;
		}
	}

	@media only screen and (min-width: 1140px) {
		main.container {
			max-width: 1140px;
		}
	}

	@media only screen and (min-width: 1210px) {
		main.container {
			max-width: 1210px;
		}
	}

	@media only screen and (min-width: 1440px) {
		main.container {
			max-width: 1290px;
		}
	}
}
